<div>
    <h1>Mi Carrito</h1>
    {{#each products}}
        <div>
            <h1>{{name}}</h1>
            <h2>{{description}}</h2>
            <h3>${{price}}</h3>
            <h4>{{stock}}</h4>
        </div>
    {{/each}}
    <button type="button" onclick="location.href='/purchase'">Finalizar compra</button>

</div>