<h1>Lista de Usuarios</h1>
<form action="/users/:id" method="PUT">
    <table border="1">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>
                    <form id="roleForm-{{this._id}}" action="/users/:id" method="PUT">
                        <input type="hidden" name="userId" value="{{this._id}}">
                        <select id="role" name="rol">
                            <option value="user">User</option>
                            <option value="premium">Premium</option>
                            <option value="admin">Admin</option>
                        </select>
                    </form>
                </td>
                <td>
                    <button class="delete-button" onclick="deleteUsers('user123')">Eliminar Usuario</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>